{% extends "web/base.html" %}
{% block title %} - Create{% endblock %}
{% block content %}
    <h1>Create a Spotify playlist</h1>
    <form action="{{ url_for('web.generate') }}" method="post" role="form">
        <div class="form-group">
            <label for="source-text">Your pretty poem</label>
            <textarea name="source-text" id="source-text" rows="3" class="form-control"></textarea>
        </div>
        <span class="help-block">Type the text you want to transform into a playlist.</span>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock %}