{% extends "web/base.html" %}
{% block title %} - Create{% endblock %}
{% block content %}
    <div class="page-header">
        <h1>{{ heading }} {% if subheading %}<small>{{ subheading }}</small>{% endif %}</h1>
    </div>
    <div class="media">
        {% if playlist %}
            {% for item in playlist %}
                <div class="media-body">
                    <h4 class="media-heading">{{ item[0] }}</h4>
                    <a target="_blank" href="{{ item[2] }}">Link to spotify</a>
                <div class="media">
                    <div class="media-body">
                        <iframe src="https://embed.spotify.com/?uri={{ item[1] }}" width="300" height="80" frameborder="0" allowtransparency="true"></iframe>
                    </div>
                </div>
                </div>
            {% endfor %}
        {% endif %}
    </div>
    <p>
        <small>You searched for: '{{ message }}'</small>
    </p>
    <a href="{{ url_for('web.create') }}" class="btn btn-primary" type="button">Try again</a>
{% endblock %}